In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("california_housing.csv", sep=";")

In [3]:
dataset

,Latitude,Longitude,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Ocean_proximity,MedValue
0,37.88,-122.23,8.3252,41.0,6.984127,1.023810,322.0,2.555556,0,4.526
1,37.86,-122.22,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,0,3.585
2,37.85,-122.24,7.2574,52.0,8.288136,1.073446,496.0,2.802260,0,3.521
3,37.85,-122.25,5.6431,52.0,5.817352,1.073059,558.0,2.547945,0,3.413
4,37.85,-122.25,3.8462,52.0,6.281853,1.081081,565.0,2.181467,0,3.422
...,...,...,...,...,...,...,...,...,...,...
20635,39.48,-121.09,1.5603,25.0,5.045455,1.133333,845.0,2.560606,2,0.781
20636,39.49,-121.21,2.5568,18.0,6.114035,1.315789,356.0,3.122807,2,0.771
20637,39.43,-121.22,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,2,0.923
20638,39.43,-121.32,1.8672,18.0,5.329513,1.171920,741.0,2.123209,2,0.847
20639,39.37,-121.24,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,2,0.894

In [4]:
dataset.dtypes

Latitude           float64
Longitude          float64
MedInc             float64
HouseAge           float64
AveRooms           float64
AveBedrms          float64
Population         float64
AveOccup           float64
Ocean_proximity      int64
MedValue           float64
dtype: object

In [5]:
dataset["Ocean_proximity"] = dataset["Ocean_proximity"].astype("category")

In [6]:
dataset.dtypes

Latitude            float64
Longitude           float64
MedInc              float64
HouseAge            float64
AveRooms            float64
AveBedrms           float64
Population          float64
AveOccup            float64
Ocean_proximity    category
MedValue            float64
dtype: object

## 1.Formulate a Hypotheses

As with nearly all statistical significance tests, ANOVA starts with formulating a null and alternative hypothesis. For this example, the hypotheses are as follows:

> **Null Hypothesis (H0):** There is no difference in the MedValue between the five Ocean_proximity group's; they are all the same.

>**Alternative Hypothesis (H1):** The MedValue is not the same between the five Ocean_proximity group's.

**Note**, this is an omnibus test, meaning if we are able to reject the null hypothesis it will tell us that a statistically significant difference exists somewhere between these countries, but it won’t tell us where it is.

In [7]:
dataset.groupby("Ocean_proximity").mean()[["MedValue"]]

                 MedValue
Ocean_proximity
0                2.592123
1                2.400843
2                1.248054
3                2.494340
4                3.804400

## 2. Set a Significance Level

The significance level, or alpha, is the probability of rejecting our null hypothesis when it actually holds true. In other terms, it’s the probability of making a $Type I$ error.

Typically, one should weigh the costs of making a $Type I$ vs. a $Type II$ error to determine the best alpha for an experiment, but for this dataset I’m just going to use the standard 0.05 for our $\alpha$ value.

## 3. Compute an F-Statistic

The F-statistic is simply a ratio of the variance between samples means to the variance within sample means. For this ANOVA test, we’ll be looking at how far each country’s average wine price is from the overall average price, and dividing that by how much variation in price there is within each country’s sample distribution. The F-statistic formula is below, which may look complicated until we break it down.

$$
F = \frac{MS_{B}}{MS_{W}} = \frac{\frac{SS_{B}}{DoF_{B}}}{\frac{SS_{W}}{DoF_{W}}}
$$

$SS_{B}$ =  Sum of squares between groups. This is the summation of the squared difference between each group’s mean and the overall mean times the number of elements per group. For this example, we take the mean of each Ocean_proximity’s MedValue, subtract it from the overall mean, square the difference and multiply by the number of data points per Ocean_proximity.

$$
SS_{B} = \sum_{i=1}^{k} {n_{i}(\bar{X}_{i} - \bar{X})^2}
$$

In [8]:
# Calculate Means 
mean_groups = dict()
for i in pd.unique(dataset["Ocean_proximity"]):
    mean_groups[i] = dataset[dataset["Ocean_proximity"] == i]["MedValue"].mean()
mean_overall = dataset["MedValue"].mean()

# Sum of Squares Between
SSB = 0
for i in pd.unique(dataset["Ocean_proximity"]):
    SSB += dataset["Ocean_proximity"].value_counts()[i]*((mean_overall - mean_groups[i])**2)

print('Sum of Squares Between: {}'.format(SSB))

Sum of Squares Between: 6543.715603857019

$SS_{W}$ = Sum of squares within groups. This is the summation of the squared difference between the group-mean and each value in the group. For each Ocean_proximity’s, we would take the MedValue, then subtract and square the difference for each data points in that group.

$$
SS_{W} = \sum_{i=1}^{k} {\sum_{j=1}^{n_{i}} {(X_{ij} - \bar{X_{i}})^2}}
$$

In [9]:
# Calculate Variances
var_groups = dict()
for i in pd.unique(dataset["Ocean_proximity"]):
    var_groups[i] = dataset[dataset["Ocean_proximity"] == i]["MedValue"].var()

# Sum of Squares Within (variance times n yields sum of squares)
SSW = 0
for i in pd.unique(dataset["Ocean_proximity"]):
    SSW += dataset["Ocean_proximity"].value_counts()[i]*var_groups[i]

print('Sum of Squares Within: {}'.format(SSW))

Sum of Squares Within: 20944.75642582852

$DoF_{B} =$ Degrees of freedom between groups, simply the number of groups minus 1. We have five different Ocean_proximity group's, so the degrees of freedom here is 4.

In [10]:
# Degrees of Freedom Between
dof_SSB = len(pd.unique(dataset["Ocean_proximity"])) - 1

print('Degrees of Freedom for DoF_B: {}'.format(dof_SSB))

Degrees of Freedom for DoF_B: 4

$DoF_{W}$ = Degrees of Freedom Within Groups, simply the number of data points minus the number of groups. We have 20,640 data points and five different Ocean_proximity group's, so this is 20,635 for this example.

In [11]:
# Degrees of Freedom Within
dof_SSW = len(dataset) - len(pd.unique(dataset["Ocean_proximity"]))

print('Degrees of Freedom for DoF_W: {}'.format(dof_SSW))

Degrees of Freedom for DoF_W: 20635

Dividing the sum of squares for a group by its degrees of freedom yields the mean squares for that group, and the F statistic is just a ratio of the mean squares between over the mean squares within.

In [12]:
# F Stastics 
f_stat = (SSB/dof_SSB) / (SSW/dof_SSW)

print('F-Statistic: {}'.format(f_stat))

F-Statistic: 1611.7348029776404

 ## Using the F-Statistic, compute a p-value
 
Once we have our F-statistic, we plug it into an F-distribution to get a p-value. You can find a table for these values in the back of any statistics book or there are far-easier python library(scipy) that will do this for you. With our specific degrees of freedom, an F-Statistic of 1611.73 yields a p-value 0.

In [25]:
from scipy.stats import f
import matplotlib.pyplot as plt
p_value = f.pdf(f_stat, dof_SSB, dof_SSW)
print("P-Value : {}".format(p_value))

P-Value : 0.0

## Compare the p-value and significance level to decide whether or not to reject the null hypothesis

## Automatic ANOVA

Like with most things in life, Python has an intuitive solution for conducting ANOVA with the statsmodel and bioinfokit librarys. The below code does all the calculations in this article and outputs a summary table complete with an F-statistic and p-value.

**Using statsmodels**

In [13]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# ANOVA Test 
model = ols('MedValue ~ Ocean_proximity', data=dataset).fit()
anova = sm.stats.anova_lm(model, typ=2)

anova

                       sum_sq       df            F  PR(>F)
Ocean_proximity   6543.715604      4.0  1612.140736     0.0
Residual         20939.482590  20635.0          NaN     NaN

**Using statsmodels**

In [14]:
from bioinfokit.analys import stat
res = stat()
res.anova_stat(df=dataset, res_var='MedValue', anova_model='MedValue ~ Ocean_proximity')
res.anova_summary

                      df        sum_sq      mean_sq            F  PR(>F)
Ocean_proximity      4.0   6543.715604  1635.928901  1612.140736     0.0
Residual         20635.0  20939.482590     1.014756          NaN     NaN